html
  head
    title Welcome
  body
    #container
      table
        thead 
          - each key in keys
            th #{key}
        tbody 
          - each user, i in users
            tr
                - each key in keys
                  td 
                    p #{user[key]}


